html,
body {
    height: 100%;
    margin: 0;
    background: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 403px;
    height: 403px;
    background-image: url('https://img.freepik.com/free-vector/dark-green-technology-hexagonal-background_156943-364.jpg?size=626&ext=jpg');
    border: 1px solid white;
}